Tests: privleap-test
Depends: @, sudo
Restrictions: needs-root, breaks-testbed, allow-stderr

Tests: privleap-test-coverage
Depends: @, sudo, python3-coverage
Restrictions: needs-root, breaks-testbed, allow-stderr
